.typewriter {
  text-align: center;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.typewriter .typewrite {
  font-size: 10em;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: #000;
  letter-spacing: 2px;
  padding: 10px; }

.dash {
  color: #fff; }
