.typewriter {
    text-align: center;
    margin-bottom: 50px;
}

.typewriter .typewrite {
    font-size: 25px;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;
    padding: 10px;
}

.dash {
	color: #fff;
}