.slideOut-appear {
  transform: translate3D(-100%, 0, 0); }

.slideOut-appear.slideOut-appear-active {
  transform: translate(0%);
  transition: transform 250ms ease-in-out; }

.about {
  background-color: #fff;
  padding: 300px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.title {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120px;
  font-weight: 500; }

.about-intro {
  width: 70%; }

.contact-intro p, .about-intro p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 10px;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0.7px; }

.contact-intro > a, .about-intro > a {
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  text-transform: lowercase;
  color: #ddd; }

@media only screen and (max-width: 705px) {
  .about {
    padding: 150px 0; }
  .title {
    font-size: 80px;
    font-weight: 500; } }
