header {
    background: url('../../public/workplace.jpg') repeat-x center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .8);
}

.header-logo {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 900px;
    font-size: 120px;
    padding-left: 20px;
    margin-bottom: 0;
    text-align: center;
}

header .header-nav .header-list {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    overflow: auto;
}

header .header-nav .header-list .header-nav-item {
    text-decoration: none;
    padding-top: 5px;
    color: #fff;
    margin-right: 50px;
    text-transform: uppercase;
    position: relative;
}

.header-nav-item Link.header-nav-item {
    visibility: visible;
    transform: scaleX(1);
    text-decoration: underline;
}

header .header-nav .header-list .header-nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

header .header-nav .header-list .header-nav-item:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

@media only screen and (max-width: 705px) {
    header .header-nav .header-list {
        white-space: nowrap;
        display: block;
    }
    .header-logo {
        font-size: 60px;
    }
}



