.social {
    display: flex;
    flex-direction: column;
}

.social-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.social .social-list a {
    text-decoration: none;
    margin-right: 50px;
    font-size: 25px;
    color: #fff;
}

.social .social-list a:hover .fa-linkedin:before,
.social .social-list a:hover .fa-github:before,
.social .social-list a:hover .fa-twitter:before,
.social .social-list a:hover .fa-envelope-o:before {
    opacity: 0.65;
}