.display-picture {
  background-color: #fff;
  padding-top: 70px;
}

.my-logo {
  display: block;
  width: 40%;
  margin: 0 auto;
  height: auto;
}

.my-picture {
  display: block;
  width: 35%;
  margin: 0 auto;
  height: auto;
}

@media only screen and (max-width: 705px) {
  .my-picture {
    width: 75%;
  }
}