.carousel {
    background: url('../../public/workplace.jpg') repeat-x center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .8);
    height: 500px;
}

.logo {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 900px;
    font-size: 120px;
    padding-left: 20px;
    margin-bottom: 0;
    text-align: center;
}

@media only screen and (max-width: 705px) {
    .logo {
        font-size: 60px;
    }
}