.main {
	/*order: 2;*/
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.main .typewrite {
	font-size: 40px;
	text-decoration: none;
}

.border {
	border: 0.5px solid white;
}

.typewrite {
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
	color: #fff;
	letter-spacing: 2px;
	padding: 10px;
}

.typewrite > .wrap {
	border-right: 0.08em solid #fff
}
