blockquote {
  background: #f9f9f9;
  /*border-left: 10px solid #000;*/
  margin: 1.8em 0px;
  padding: 0.5em 10px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center; }

.disney {
  height: 50%;
  width: 50%; }

blockquote:before {
  color: #000;
  content: "\201C";
  font-size: 14em;
  line-height: 1em;
  margin-right: 0.25em; }

blockquote p {
  font-size: 1.3em; }

.quotee {
  display: block;
  padding-top: 10px; }
