* {
	margin: 0;
	padding: 0;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: url('../public/workplace.jpg') no-repeat center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

.App-header {
	padding: 20px;
	padding-right: 90px;
	font-family: 'Raleway', sans-serif;
}

.App-header .list{
	display: flex;
	font-size: 17px;
	justify-content: space-around;
}

.App-header .list a {
	text-decoration: none;
	color: white;
	padding: 10px;
	text-transform: uppercase;
}

.App-header .list a:last-child {
	padding: 10px 25px;
	border: 5px solid white;
}

.App-header .list a:hover {
	color: #ccc;
}

.App-header .list a:last-child:hover {
	border: 5px solid #ccc;
}

.App-body {
	order: 2;
	flex: 1;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.App-body .highlight {
	font-size: 50px;
	border: 10px solid white;
}

.highlight {
	font-family: proxima-nova, sans-serif;
	font-size: 25px;
	color: #fff;
	letter-spacing: 2px;
	padding: 10px;
}

.App-nav {
	order: 3;
	align-self: flex-end;
	position: absolute;
	top: 0;
	right: 0;
}

.list {
	list-style: none;
}

.App-nav .list{
	display: flex;
	flex-direction: column;
	height: 100vh;	
	width: 100px;
}

.App-nav .list a {
	border-bottom: 1px solid #fff;
	font-size: 50px;
	text-align: center;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.App-nav .list a:last-child {
	border: none;
}

.App-nav .list a:hover .fa-linkedin:before {
    color: #ccc;
}

.App-nav .list a:hover .fa-github:before {
    color: #ccc;
}

.App-nav .list a:hover .fa-twitter:before {
    color: #ccc;
}

.App-nav .list a:hover .fa-envelope-o:before {
    color: #ccc;
}