* {
	margin: 0;
	padding: 0;
}

.App {
	min-height: 100vh;
	display: flex;
}

.App-body {
	text-align: left;
	padding-left: 150px;
}

.h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30vh;
}

.App-nav {
	order: -1;
}

.list {
	list-style: none;
}

nav ul{
	display: flex;
	flex-direction: column;
	height: 100vh;		
}

nav ul a {
	border-bottom: 1px solid white;
	background: black;
	font-size: 50px;
	text-align: center;
	flex: 1;
	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fa-linkedin:hover:before,.fa-github:hover:before,.fa-twitter:hover:before,.fa-envelope-o:hover:before {
    color: #fafafa;
}