.error404 {
  display: flex; }

.error-msg {
  margin: 50px;
  font-style: oblique; }

.error404-to-home {
  text-decoration: none; }

@media only screen and (max-width: 705px) {
  .error404 {
    flex-direction: column; }
  .error-msg {
    margin-left: 100px; } }
