.blockchain {
  background: linear-gradient(to bottom, rgb(14, 103, 163) 0%, rgb(6, 65, 116) 40%, rgb(1, 27, 69) 80%, rgb(0, 8, 46) 100%);
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.blockchain-logo {
  width: 900px;
  height: 800px;
  display: block;
}

.blockchain-heading {
  position: relative;
  display: flex;

  .blockchain-image {
    width: 800px;
    height: 700px;
    display: block;
  }

  .blockchain-caption {
    color: #57bce8;
    font-family: sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    right: 140px;
    bottom: 320px;
  }
}

@media only screen and (max-width: 1000px) {
  .blockchain {
    flex-direction: column;
    height: 600px;
  }

  .blockchain-logo {
    padding-top: 70px;
    height: 400px;
    width: 400px;
    position: absolute;
  }

  .blockchain-heading {
    display: flex;

    .blockchain-image {
      height: 400px;
      width: 100%;
    }

    .blockchain-caption {
      display: none;
    }
  }
}