footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0 30px;
    color: #333;
    letter-spacing: 1px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
}

.footer-list {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.footer-nav-item {
    color: #000;
    text-decoration: none;
    display: flex;
}

.footer-item-spacing {
    padding-right: 30px;
}

.footer-icon {
    margin-right: 5px;
}

footer .footer-nav .footer-list a:hover {
    opacity: 0.5;
}

@media only screen and (min-width: 736px) and (max-width: 1024px) {
    .footer-list {
        flex-direction: column;
    }

    .footer-nav-item {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 736px) {
    footer {
        flex-direction: column;
    }

    .footer-list {
        flex-direction: column;
    }

    .footer-nav-item {
        padding-bottom: 10px;
    }
}
