.iphone-ad {
  padding-top: 100px;
  background-color: #F9F8FF;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iphone {
  // width: 400px; // for svg
  height: 530px;
  // display: block; // for svg
}

//.iphone-ad:hover {
//    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
//}

.iphone-ad .caption {
  font-family: "Work Sans", sans-serif;
  font-size: 5em;
  color: black;
  animation: hideshow 10s ease infinite;
}

.iphone-ad .caption p {
  font-size: 0.4em;
  line-height: 1.5em;
  margin-bottom: 18px;
}

.strike-through {
  text-decoration: line-through;
}

@keyframes hideshow {
  0% { opacity: 0; }
  10% { opacity: 0; }
  15% { opacity: 1; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 705px) {

  .iphone-ad {
    height: 800px;
    padding: 0;
    flex-direction: column;
  }

  .iphone {
    height: 540px;
    // width: 400px; // for svg
    // padding-top: 150px; // for svg
  }

  .iphone-ad .caption {
    font-size: 2.3em;
    padding: 0;
  }
}